.zaposleni-kartica {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 250px;
  height: 450px;
  background: rgba(0, 0, 0, 0.7) 50% !important;
  border-radius: 30px;
  padding: 15px;
  overflow: hidden;
}

.zaposleni-kartica .slika img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
}
