.reset-password {
  display: grid;
  place-items: center;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url(../../icons/Restauration.jpg) no-repeat center;
  background-size: cover;
}

.reset-password .content {
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid white;
  padding: 4rem;
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  width: 50%;
}

.reset-password .content h1 {
  color: rgba(172, 95, 65, 0.938);
}

.reset-password .content form {
  display: grid;
  gap: 1rem;
}

.reset-password input[type="password"] {
  font-size: 25px;
  width: 100%;
  background: none;
  color: white;
}

.reset-password button:hover {
  background-color: #ddd;
}

.reset-password .go-to-home {
  margin-top: 20px;
  cursor: pointer;
  color: #fff;
  text-decoration: underline;
}
